<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>首页</title>
     {% load static %}
     <link rel="stylesheet" href="{% static 'main_css/main.css' %}">
     <script src="{% static 'import/jquery-3.4.1.min.js' %}"></script>
     <script src="{% static 'import/jquery.cookie.js' %}"></script>
     <script src="{% static 'main_js/error/view_exception.js' %}"></script>
     <script src="{% static 'main_js/login_verification.js' %}"></script>
     <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
     <script src="{% static 'main_js/create_visit_log.js' %}"></script>
     <script src="{% static 'import/three.js' %}"></script>
    <script src="{% static 'import/Setting.js' %}"></script>
    <script src="{% static 'import/OrbitControls.js' %}"></script>


     
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="{% static 'import/css/index.css' %}">
    
    
</head>
<body style=" cursor:default;">
  <div style="background:rgba(0,0,0,1);">
    <div class="page-backgroud" style="opacity: 0.25;height: 100vh;">
        <img src="/static/images/login_cover.jpg" width="100%">
    </div>
  </div>
  <div class="page-title">
    <p>机械加工虚拟仿真实验室  </p>
  </div>
  <div class="page-name" id="user_name"> 
    <p >用户名显示异常</p>
  </div>
  

  <div class="new-index">
    <hr style=" height:2px;border:none;border-top:2px dotted #4a4b4b;" />
    <br>

    <div id="app">
        <!-- <el-button onclick="jumpto('/vmm/model_debugger/');" type="primary">场景编辑</el-button><br><br>
        <el-button onclick="jumpto('/vmm/tool_display/');" type="primary">车刀的主要几何角度</el-button><br><br>
        <el-button onclick="jumpto('/vmm/qxyl/');" type="primary">切削力与切削用量的关系</el-button> -->
      <!-- <div class="new-index-pad">
        <img src="/static/images/login_cover.jpg" width="100%">
      </div>
      <br>
      <div class="new-index-pad">
        <img src="/static/images/login_cover.jpg" width="100%">
      </div> -->


        <div class="new-index-pad"  onclick="window.open('/vmm/qxyl/')">
          <img src="/static/images/qxl-1.jpg" width="100%">
          <p class="experiment-title">切削用量对切削力的影响</p>
        </div>
        <div class="new-index-pad" onclick="window.open('/vmm/qxwd/')">
          <img src="/static/images/qxwd-1.jpeg" width="100%">
          <p class="experiment-title">切削用量对切削温度的影响</p>
        </div>
        <div class="new-index-pad"  onclick="window.open('/vmm/jgzl/')">
          <img src="/static/images/jgzl-1.png" width="100%">
          <p class="experiment-title">切削用量对加工表面粗糙度的影响</p>
        </div>
     
        <div class="new-index-pad" onclick="window.open('/vmm/tool_display/')">
          <img src="/static/images/cdjd.png" width="100%">
          <p class="experiment-title">车刀的主要几何角度</p>
        </div>
        <div class="new-index-pad" onclick="window.open('/vmm/model_debugger/')">
          <img src="/static/images/mxts.png" width="100%">
          <p class="experiment-title">模型调试</p>
        </div>
    </div> 
  </div>




 


  <!-- <div id='render'></div>

    <div id="app">
      <div class="index" >
        <p class='title1'>工具</p>
        <el-button onclick="jumpto('/vmm/model_debugger/');" type="primary">场景编辑</el-button><br><br>
        <el-button onclick="jumpto('/vmm/tool_display/');" type="primary">车刀的主要几何角度</el-button><br><br>
        <el-button onclick="jumpto('/vmm/qxyl/');" type="primary">切削力与切削用量的关系</el-button>
      </div>
      
  </div> -->
</body>
<script src="{% static 'import/vue.js' %}"></script>
<script src="{% static 'import/element_index.js' %}"></script>
<script>
    $("#user_name").html('察察和他的朋友们（北京）科技有限公司出品 '+'<a>hello,'+$.cookie('username')+' </a>'+"&ensp;&ensp;<a style='color: rgb(100, 100, 255);cursor: pointer;' onclick='logout()'>  退出登录</a>")
    new Vue({
      el: '#app',
    })

    function jumpto(url) {
         location.href=url;
    }
    function logout(){
      jumpto('/vmm/login');
      $.removeCookie('username',{ path: '/' });
      $.removeCookie('password',{ path: '/' });
      $.removeCookie('userid',{ path: '/' });
    }
  </script>
  <script src="{% static 'main_js/moon.js' %}"></script>
  <script>
    create_visit_log(1);
  </script>
</html>

