<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="{% static 'logo.ico' %}">
    <title>模型调试</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="{% static 'import/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main_css/main.css' %}">
    <!-- 引入组件库 -->
    <script src="{% static 'import/vue.js' %}"></script>
    <script src="{% static 'import/element_index.js' %}"></script>
    <script src="{% static 'import/three.js' %}"></script>
    <script src="{% static 'import/stats.js' %}"></script>
    <script src="{% static 'import/Setting.js' %}"></script>
    <script src="{% static 'import/OrbitControls.js' %}"></script>
    <script src="{% static 'import/dat.gui.min.js' %}"></script>
    <script src="{% static 'import/SceneUtils.js' %}"></script>
    <script src="{% static 'import/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'import/jquery.cookie.js' %}"></script>
    <script src="{% static 'import/STLLoader.js' %}"></script>
    <script src="{% static 'import/dat.gui.js' %}"></script>
    <script src="{% static 'import/stats.js' %}"></script>
    <script src="{% static 'import/echarts.min.js' %}"></script>
    <script src="{% static 'import/echarts-gl.min.js' %}"></script>
    <script src="{% static 'import/vue-resource.min.js' %}"></script>
    <script src="{% static 'import/ConvexGeometry.js' %}"></script>
    <script src="{% static 'import/GLTFLoader.js' %}"></script>
    
    
    
    
</head>
<body>
    <div id="Stats-output"></div>
    

    <div>
        <!--加载动画的div-->
        <div id="render">
        </div>
    </div>
    <script>
       
    </script>
    <!-- <script src="{% static 'main_js/create_cylinder.js' %}"></script> -->
    <script src="{% static 'main_js/test3.js' %}"></script>
    <!-- <script src="{% static 'main_js/createModel.js' %}"></script> -->
</body>
</html>